%h1 My Profile

%div
    %strong Email:
    %span= current_user.email

%hr

%h2 My Conferences

= render partial: "conferences/conference", collection: current_user.conferences, locals: { conference: current_user.conferences }
