- content_for(:title, "Profile - ConfScheduler")

.bg-gray.section.section-hero.section-hero.section
    .container.grid-md.grid-hero
        %h1 My Profile

        %p
            %strong Email:
            %span= current_user.email

.section.section-hero
    .container.grid-md
        %h2 My Conferences
        .columns
            = render partial: "conferences/conference", collection: current_user.conferences, locals: { conference: current_user.conferences }

.section.section-hero.text-center.bg-gray
    .container.grid-md
        %a.btn{ href: conferences_path } All Conferences
