- content_for(:title, 'Confs - ConfScheduler')

.bg-gray.section.section-hero.section-hero.section
    .container.grid-md.grid-hero
        %h1 Conferences

.section.section-hero
    .container.grid-md
        .columns
            = render partial: "conference", collection: @conferences, locals: { conference: @conferences }
