= render partial: "conference", locals: { conference: @conference }

%hr

%h3 Events

= render partial: "events/event", collection: @events, locals: { event: @events }

%a{ href: conferences_path } Back to Conferences List
