%footer.section.section-footer.bg-gray.text-center
    #copyright.grid-footer.container.grid-lg
        %p
            Designed and built with
            %span.text-error ♥
            %span by
            %a{ href: "https://estherleytush.com/", target: "_blank" } Esther Leytush
            %span and
            %a{ href: "https://www.linkedin.com/in/laura-mazzolini/", target: "_blank" } Laura Mazzolini
