%footer.section.section-footer.bg-gray
    #copyright.grid-footer.container.grid-lg
        %p
            %a{ href: "#", target: "_blank" } Documents
            %a{ href: "#", target: "_blank" } GitHub
            %a{ href: "#", target: "_blank" } Twitter
            %a{ href: "#", target: "_blank" } PayPal Donate

        %p
            Designed and built with
            %span.text-error ♥
            %span by
            %a{ href: "#", target: "_blank" } Yan Zhu
            %span>.

        %p
            %span Licensed under the
            %a{ href: "#", target: "_blank" } MIT License
            %span>.
